/* Write your style here */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

/* HEADER SECTION */
/* NAV BAR */
.nav-bar {
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-between;
    height: 80px;
    /* background-color: red; */
}

 .logo img{
   height: 40px;
   width: 130px;
   cursor: pointer;
}

/* main */
.main {
    width: 350px;
    height: 50px;
    /* background: yellow; */
}

.main ul li{
    text-decoration: none;
    display: flex;
    float: right;
    justify-content:right;
}

.main ul li a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 20px;
    font-weight: 600;
    font-size: 1rem;
}

/* ============== */
/* hero section */

.hero-section {
    display: flex;
    flex-direction: row;
    margin: 40px;
}

/* hero left */
.hero-left {
    /* background-color: rgb(164, 164, 255); */
    width: 50%;
    color: hsl(243, 87%, 12%);
    padding-top: 50px;
}

.hero-left h1 {
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.hero-left p {
    font-size: 18px;
    line-height: 30px;
    padding-right: 30px;
}

/* form email */
.form-email {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.form-email input{
    padding: 10px;
    font-size: 18px;
    background: none;
    border-radius: none;
    width: 300px;
    margin-right: 10px;
    border: px solid hsl(238, 22%, 44%);
}

.form-email button {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    cursor: pointer;
    transition: all 0.1 linear;
}

.form-email button:hover {
    background-color: hsl(170, 45%, 43%);
}


/* hero right */

.hero-right{
    /* background-color: red; */
    width: 50%;
}

.hero-right img {
    height: 450px;
}


/* ======================= */

/* productive section */

.productive-section {
    display: flex;
    flex-direction: row;
    margin: 80px 0;
    padding: 70px 40px;
    background: url(/images/bg-curve-desktop.svg) no-repeat center center/cover;
}

/* Productive  left */

.productive-left {
    width: 50%;
    color: hsl(243, 87%, 12%);
}

.productive-left h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    padding-bottom: 20px;
}

.productive-left p {
    font-size: 18px;
    line-height: 25px;
    padding-right: 30px;
    font-weight: 500;
}

/* fylo link */
.fylo-link {
    padding-top: 20px;
    transition: 0.1 hover;
    position: static;
}

.fylo-link a {
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    font-size: 1.2rem;
}

.fylo-link img {
    height: 25px;
    color: hsl(170, 45%, 43%);
    cursor: pointer;
}

.fylo-link:hover {
    border-bottom: 2px solid hsl(170, 45%, 43%);
    width: 210px;
}


/* quote section */
.quote-section {
    padding: 20px 30px;
    margin: 20px 0;
    background-color: white;
    color: hsl(243, 87%, 12%);
    width: 430px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.quote-section .quote img {
    padding-bottom: 10px;
    height: 30px;
}

.quote-section .quote p{
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
}

/* founder section */

.founder-section {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.founder-section img {
    height: 50px;
    border-radius: 50%; 
}

.founder-section .founder-name {
    padding-left: 10px;
}

.founder-name p {
    font-size: 14px;
    font-weight: 400;
}



/* Productive right */

.productive-right {
    width: 50%;
    padding: 30px;
    align-items: center;
}

.productive-right img {
    height: 400px;
}